<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="check"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.43.143"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="110"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="tmp, i, j, pc, inc, tab_out"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="1NoRTE"/>
        <listEntry value="1PartialCorrectness"/>
        <listEntry value="1InvOk"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="0Termination"/>
    </listAttribute>
    <stringAttribute key="modelExpressionEval" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="defaultInitValue;;-1;0;0"/>
        <listEntry value="tab;;(0 :&gt; 3 @@ 1:&gt; 1 @@ 2:&gt; 4 @@ 3:&gt; 2);0;0"/>
        <listEntry value="n;;4;0;0"/>
    </listAttribute>
    <intAttribute key="numberOfWorkers" value="4"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="shell_sort"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
